<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
  </head>
  <body>
    <div id="root">
      <main>
        <aside>
          <div class="profile">
            <img src="img/girl.png" alt="profile-img" class="profile-img">
            <div class="disabled-icons">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>

          <div class="notifications">
            <div class="bell-icon">
              <i class="fas fa-bell-slash"></i>
            </div>

            <div class="notif-settings">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <p>Attiva le notifiche desktop</p>
            </div>
          </div>

          <div class="search">
            <button @click="searchContact()" type="button" name="button" class="search-icon">
              <i class="fas fa-search"></i>
            </button>
            <input type="text" name="search" placeholder="Cerca o inizia nuova chat" v-model='userSearch' @keyup="searchContact()">
          </div>

          <div class="contacts-list">
            <div @click="onSelectedContact(index)" :class="contacts[index].contactClasses" v-for="(contact, index) in contacts" v-if="contacts[index].visible">
              <img :src="contacts[index].avatar" alt="" class="contact-img">
              <span class="preview">
                <p class="contact-name">{{contacts[index].name}} </h3>
                <p class="preview-msg">Non poteva essere altrimenti</p>
              </span>
              <span class="time">
                16.48
              </span>
            </div>
          </div>
        </aside>

        <div class="main-chat">

          <div class="header">
            <div v-for="(contact, index) in contacts" :class="contacts[index].selectedChat">
              <img :src="contacts[index].avatar" alt="" class="contact-img">
              <div class="preview-chat">
                <p class="contact-name">{{contacts[index].name}}</p>
                <p class="preview-msg">Ultimo accesso alle 9.00</p>
              </div>
            </div>
            <div class="disabled-icons">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>

          <div class="chat"  @click="closeDropdownMenu()">
            <div v-for="(messageItem, index) in contacts[selectedContactIndex].messages" :class="messageItem.status" @mouseenter="showIconDropdownMenu(messageItem)" @mouseleave="hideIconDropdownMenu(messageItem)">
              <div class="msg-container">
                <p>{{messageItem.message}}</p>
                <a href="#"  @click="openDropdownMenu(messageItem)" v-show="messageItem.activeMenu">
                  <i class="fas fa-angle-down"></i>
                </a>
              </div>
            <p class="time-msg">17.35</p>
            <div class="dropdown-menu" v-show="messageItem.showDropdownMenu">
              <ul>
                <li>
                  <a href="#"> Info </a>
                </li>
                <li>
                  <a href="#" @click="deleteMessage(index)"> Copia </a>
                </li>
                <li>
                  <a href="#" @click="deleteMessage(index)"> Inoltra messaggio </a>
                </li>
                <li>
                  <a href="#" @click="deleteMessage(index)"> Elimina messaggio </a>
                </li>
              </ul>
            </div>

            </div>

          </div>

          <div class="write-message">
            <i class="far fa-smile"></i>
            <input type="text" placeholder="Scrivi un messaggio" v-model="user.message" @keyup.enter="sendMessage()">
            <i class="fas fa-microphone"></i>
          </div>
        </div>
      </main>
    </div>
    <script src="assets/main.js" charset="utf-8"></script>
  </body>
</html>
